


<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card  Id="0" cardDescription="Este é um projeto simples feito em Angular que mostra o que venho aprendendo com a programação."
         cardTitle="{{contentTitle}}" photoCover={{photoCover}}></app-big-card>
    </div>
    <div class="articles__others">

        <app-small-card   Id="1" photoCover="https://images.vexels.com/media/users/3/166383/isolated/lists/6024bc5746d7436c727825dc4fc23c22-icone-de-linguagem-de-programacao-html.png" cardTitle="HTML5"></app-small-card>
        <app-small-card Id="2" photoCover="https://cdn-icons-png.flaticon.com/512/919/919826.png" cardTitle="CSS"></app-small-card>

        <app-small-card Id="3" photoCover="https://miro.medium.com/max/480/1*VKY-Ldkt-iHobItql7G_5w.png" cardTitle="Angular"></app-small-card>

    </div>

</div>
